@media (max-width: 920px) {
    .contacts_main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
}
}

@media (max-width: 790px) {
    .header_back {
        margin: 0 auto;
        max-width: 1918px;
        background-image: url();
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
}
    .mean_head img{
        display: none;
}
    .phone_number {
        position: relative;
        bottom: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
}
    .video_selector {
        height: auto;
}
    .contacts_map {
        max-width: 100%;
        overflow: hidden;
}
    .contacts_info {
        max-width: 100%;
}
    
}

@media (max-width: 740px) {
    .header_main {
        flex-wrap: wrap;
    }
    .menu {
        width: 100%;
    }
    
    .logo {
        margin: 0 auto;
        background-color: transparent;
        margin-bottom: 20px;
    }
    
    .menu_ul {
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .popular_main_h1_1 h1 {
    font-size: 42px;
}
    .popular_main_h1 h1 {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-family: "Gilroy-Regular";
    line-height: 110%;
    font-weight: 900;
}
    .popcorm {
        display: none;
    }
    
    .phone_number_main {
        flex-wrap: wrap;
    }
    .ph_item a {
        margin-left: 0px;
        margin-top: 10px;

}
    
    .menu_li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-family: "Gilroy-Regular";
}
    
    .popular_main_catalog {
        margin-top: 30px;
    }
    
}


@media (max-width: 370px) {
    
    .menu_ul {
        display: flex;
        list-style: none;
        background-color: transparent;
        opacity: 0.8;
        border-radius: 15px;
}
    .catalog_item {
        width: auto;

}
    
}

